
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.about-me{
  display: grid;
  place-items: center;

}

@media (min-width: 1024px) {
  .lg\:about-me-container, .lg\:presentation-container {
    width: 70%;
    text-align: center;
  }
  .lg\:w-70p{
    width: 70%;
  }
}

